<div id="partners">
    <div id="partners-row1">
        <img src="/AVG_partner.jpg"></img>
        <h3>AnbieterVerband qualitätsorientierter<br>Gesundheitspflegeeinrichtungen (AVG) e.V.</h3>
        <p>Der AnbieterVerband qualitätsorientierter Gesundheitspflegeeinrichtungen e.V. ist der Branchenspezialist, wenn es um die Vertretung der Interessen der ambulanten Pflege geht. Als einer der maßgeblichen Verbände im Land Berlin und Berufsstandsvertretung setzen wir uns aktiv für die Belange der ambulanten Pflegedienste einschließlich deren Mitarbeiter ein.</p>
        <a href="http://www.avg-ev.com/typo3_01/index.php">Weitere Informationen</a>
        <br>
        <br>
        <img src="/bapp_partner.jpg"></img>
        <h3>Bundesinitiative Ambulante<br>Psychiatrische Pflege (bapp)</h3>
        <p>Die Stärkung der Ambulanten Psychiatrischen Pflege und das Recht des psychisch erkrankten Menschen auf eine kompetente, umfassende und eine patientenorientierte Pflege ist das Ziel unseres Vereins.</p>
        <a href="http://www.bapp.info/">Weitere Informationen</a>
        <br>
        <br>
        <img src="/GVP_partner.jpg"></img>
        <h3>Gerontopsychiatrisch-geriatrischer<br>Verbund Charlottenburg-Wilmersdorf</h3>
        <p>Der GPV e.V. ist ein Zusammenschluss unterschiedlichster Einrichtungen rund um die Beratung, Betreuung und Pflege alter Menschen im Berliner Bezirk Charlottenburg-Wilmersdorf. Kernziele des GPV e.V. sind die Optimierung und Verknüpfung von Altenhilfe, Rehabilitation, Geriatrie und Gerontopsychiatrie.</p>
        <a href="http://www.gpverbund.de/">Weitere Informationen</a>
    </div>
    <br>
    <br>
    <div id="partners-row2">
        <img src="/FaW_partner.jpg"></img>
        <h3>Gesellschaft zur Förderung altersgerechten<br>Wohnens (FaW) gGmbH</h3>
        <p>Die FAW gGmbH begleitet und verwaltet ambulant betreute Wohngemeinschaften für Menschen mit Demenz als alternative Wohnform mit der Zielsetzung, für diese Menschen ein Umfeld zu schaffen, das ein hohes Maß an Lebensqualität bietet und das Recht auf Würde und Selbstbestimmung zur Selbstverständlichkeit macht.</p>
        <a href="">Weitere Informationen</a>
        <br>
        <br>
        <img src="/SPS_partner.jpg"></img>
        <h3>SPS Steuern und Recht<br>Steuerberatungsgesellschaft mbH</h3>
        <p>Unser Team betreut eine Vielzahl an Mandanten, darunter Firmen aller Unternehmensformen, Vereine und Privatpersonen mit Sitz in Deutschland. Die individuelle und qualitativ hochwertige Beratung unserer Mandanten mit dem Wissen aller Mitarbeiter ist unsere wichtigste Aufgabe.</p>
        <a href="http://www.sps-steuerrecht.de/">Weitere Informationen</a>
        <br>
        <br>
        <img src="/PMG_partner.jpg"></img>
        <h3>PMG-GmbH Pflege Management<br>Gesundheit</h3>
        <p>Die wichtigste Ressource für eine sowohl wirtschaftliche als auch humane Pflege und Betreuung sind gut qualifizierte Mitarbeiter und Leitungskräfte. Die PMG GmbH unterstützt Sie mit ihren Dienstleistungen – Fort- und Weiterbildung, Beratung und Coaching  – dabei, diese Ressource kontinuierlich weiter zu entwickeln.</p>
        <a href="http://www.pmg-pflege.de/">Weitere Informationen</a>
    </div>
    <br>
    <br>
    <div id="partners-row3">
        <img src="/Bfo_partner.jpg"></img>
        <h3>bfö Büro für<br>Öffentlichkeitsarbeit e.K.</h3>
        <p>PR für Nonprofit-Organisationen: Von der Konzeption Ihrer Öffentlichkeitsarbeit bis zum einzelnen Werbemittel – das bfö bietet Ihnen strategische Beratung, prägnanten Text und frische Gestaltung. Gern werden wir mit unserer Erfahrung im Nonprofit-Bereich auch für Sie aktiv. Das bfö hat diese Website für das Deutsche Pflege Forum erstellt.</p>
        <a href="http://www.bfoe-hh.de/">Weitere Informationen</a>
        <br>
        <br>
        <img src="/Pflege_partner.jpg"></img>
        <h3>Monitor Pflege</h3>
        <p>Monitor Pflege ist ein unabhängiges, umfassendes und interdisziplinäres Fachorgan für das gesamte Themenfeld Versorgung, Management und Forschung in der Pflege. Die Zeitschrift, die in Kooperation mit dem Deutschen Pflegerat, pflege.de und der Schlüterschen Verlagsgesellschaft publiziert wird, will für die Pflege in Deutschland, später auch in Österreich und der Schweiz eine bessere Wahrnehmung im Gesundheitssystem erreichen.</p>
        <a href="https://www.monitor-pflege.de/">Weitere Informationen</a>
        <br>
        <br>
        <img src="/Qvnia_partner.jpg"></img>
        <h3>Qualitätsverbund Netzwerk im<br>Alter - Pankow e. V.</h3>
        <p>Wir arbeiten für Pankower Bürgerinnen und Bürger, die akut oder chronisch krank, pflege- und/oder rehabilitationsbedürftig sind, und deren Angehörige. Niemand soll „durch´s Netz fallen“, der auf Hilfe und Unterstützung angewiesen ist.</p>
        <a href="http://www.qvnia.de/">Weitere Informationen</a>
    </div>
</div>




    <div class="band">
        <div class="item-1">
              <a href="http://www.avg-ev.com/typo3_01/index.php" class="card">
                <div div class="thumb" style="background-image: url(/AVG_partner.jpg);"></div>
                <article>
                  <h3>AnbieterVerband qualitätsorientierter<br>Gesundheitspflegeeinrichtungen (AVG) e.V.</h3>
                  <span>Der AnbieterVerband qualitätsorientierter Gesundheitspflegeeinrichtungen e.V. ist der Branchenspezialist, wenn es um die Vertretung der Interessen der ambulanten Pflege geht. Als einer der maßgeblichen Verbände im Land Berlin und Berufsstandsvertretung setzen wir uns aktiv für die Belange der ambulanten Pflegedienste einschließlich deren Mitarbeiter ein.</span>
                </article>
              </a>
        </div>
        <div class="item-2">
              <a href="http://www.bapp.info/" class="card">
                <div div class="thumb" style="background-image: url(/bapp_partner.jpg);"></div>
                <article>
                  <h3>Bundesinitiative Ambulante<br>Psychiatrische Pflege (bapp)</h3>
                  <span>Die Stärkung der Ambulanten Psychiatrischen Pflege und das Recht des psychisch erkrankten Menschen auf eine kompetente, umfassende und eine patientenorientierte Pflege ist das Ziel unseres Vereins.</span>
                </article>
              </a>
        </div>
        <div class="item-3">
              <a href="http://www.gpverbund.de/" class="card">
                <div div class="thumb" style="background-image: url(/GVP_partner.jpg);"></div>
                <article>
                  <h3>Gerontopsychiatrisch-geriatrischer<br>Verbund Charlottenburg-Wilmersdorf</h3>
                  <span>Der GPV e.V. ist ein Zusammenschluss unterschiedlichster Einrichtungen rund um die Beratung, Betreuung und Pflege alter Menschen im Berliner Bezirk Charlottenburg-Wilmersdorf. Kernziele des GPV e.V. sind die Optimierung und Verknüpfung von Altenhilfe, Rehabilitation, Geriatrie und Gerontopsychiatrie.</span>
                </article>
              </a>
        </div>
        <div class="item-4">
              <a href="http://www.verein-faw.de/" class="card">
                <div div class="thumb" style="background-image: url(/FaW_partner.jpg);"></div>
                <article>
                  <h3>Gesellschaft zur Förderung Altersgerechten<br>Wohnens (FAW) gGmbH</h3>
                  <span>Die FAW gGmbH begleitet und verwaltet ambulant betreute Wohngemeinschaften für Menschen mit Demenz als alternative Wohnform mit der Zielsetzung, für diese Menschen ein Umfeld zu schaffen, das ein hohes Maß an Lebensqualität bietet und das Recht auf Würde und Selbstbestimmung zur Selbstverständlichkeit macht.</span>
                </article>
              </a>
        </div>
        <div class="item-5">
              <a href="http://www.sps-steuerrecht.de/" class="card">
                <div div class="thumb" style="background-image: url(/SPS_partner.jpg);"></div>
                <article>
                  <h3>SPS Steuern und Recht<br>Steuerberatungsgesellschaft mbH</h3>
                  <span>Unser Team betreut eine Vielzahl an Mandanten, darunter Firmen aller Unternehmensformen, Vereine und Privatpersonen mit Sitz in Deutschland. Die individuelle und qualitativ hochwertige Beratung unserer Mandanten mit dem Wissen aller Mitarbeiter ist unsere wichtigste Aufgabe.</span>
                </article>
              </a>
        </div>
        <div class="item-6">
              <a href="http://www.pmg-pflege.de/" class="card">
                <div div class="thumb" style="background-image: url(/PMG_partner.jpg);"></div>
                <article>
                  <h3>PMG-GmbH Pflege Management<br>Gesundheit</h3>
                  <span>Die wichtigste Ressource für eine sowohl wirtschaftliche als auch humane Pflege und Betreuung sind gut qualifizierte Mitarbeiter und Leitungskräfte. Die PMG GmbH unterstützt Sie mit ihren Dienstleistungen – Fort- und Weiterbildung, Beratung und Coaching  – dabei, diese Ressource kontinuierlich weiter zu entwickeln.</span>
                </article>
              </a>
        </div>
        <div class="item-7">
              <a href="https://www.monitor-pflege.de/" class="card">
                <div div class="thumb" style="background-image: url(/Pflege_partner.jpg);"></div>
                <article>
                  <h3>Monitor Pflege</h3>
                  <span>Monitor Pflege ist ein unabhängiges, umfassendes und interdisziplinäres Fachorgan für das gesamte Themenfeld Versorgung, Management und Forschung in der Pflege. Die Zeitschrift, die in Kooperation mit dem Deutschen Pflegerat, pflege.de und der Schlüterschen Verlagsgesellschaft publiziert wird, will für die Pflege in Deutschland, später auch in Österreich und der Schweiz eine bessere Wahrnehmung im Gesundheitssystem erreichen.</span>
                </article>
              </a>
        </div>
        <div class="item-8">
              <a href="http://www.bfoe-hh.de/" class="card">
                <div div class="thumb" style="background-image: url(/Bfo_partner.jpg);"></div>
                <article>
                  <h3>bfö Büro für<br>Öffentlichkeitsarbeit e.K.</h3>
                  <span>PR für Nonprofit-Organisationen: Von der Konzeption Ihrer Öffentlichkeitsarbeit bis zum einzelnen Werbemittel – das bfö bietet Ihnen strategische Beratung, prägnanten Text und frische Gestaltung. Gern werden wir mit unserer Erfahrung im Nonprofit-Bereich auch für Sie aktiv. Das bfö hat diese Website für das Deutsche Pflege Forum erstellt.</span>
                </article>
              </a>
        </div>
      <div class="item-9">
            <a href="http://www.qvnia.de/" class="card">
              <div class="thumb" style="background-image: url(/Qvnia_partner.jpg);"></div>
              <article>
                <h3>Qualitätsverbund Netzwerk im<br>Alter - Pankow e. V.</h3>
                <span>Wir arbeiten für Pankower Bürgerinnen und Bürger, die akut oder chronisch krank, pflege- und/oder rehabilitationsbedürftig sind, und deren Angehörige. Niemand soll „durch´s Netz fallen“, der auf Hilfe und Unterstützung angewiesen ist.</span>
              </article>
            </a>
      </div>
     </div>
     <div>
