<!doctype html>
<link rel="icon" href="/favicon.jpg"/>
<link rel="stylesheet" href="/stylesheet.css">

<body>
        <div class="container" style="visibility: visible;">
            <nav class="topnav">
                <img class="logo" src="/logo.jpg"/>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/uberblick">Überblick</a></li>
                    <li><a href="/termine">Termine</a></li>
                    <li><a class="active" href="/partners">Partners</a></li>
                    <li><a href="/service">Service</a></li>
                </ul>
            </nav>
        </div>
        <div class="hpimg"></div>
        <div class="hpimgtext">
            <h2 class="hptitle">Das Deutsche Pflege Forum lädt ein</h2>
            <p class="hpdesc"><strong>Nächste Termine:</strong> Mittwoch, 20. Juni 2018, 18:00 Uhr<br>
                <strong>Referent: Dr. Ilona Köster-Steinebach</strong><br><i>Patientenvertreterin im Gemeinsamen Bundesausschuss</i><br>
                <strong>Thema:</strong> "Personaluntergrenzen - Chancen und Risiken aus Sicht des Patienten"</p><br>
            <a href="/eventregistration" class="hpbtn">Weitere Infos</a>
        </div>
        <div class="aboutcompany">
            <!-- <h2 class="aboutus">Über uns</h2> -->
            <h3 class="abouttitle">Das Forum für die professionelle Pflege</h3>
            <p class="aboutdesc">Fachlicher Austausch, Kommunikation und persönliche Kontakte für Pflege-, Fach- und Führungskräfte</p>
        </div>
        <div class="flex-grid-thirds">
          <div class="col1">
              <h3>Was findet beim Deutschen Pflege Forum statt?</h3>
              <p>Führende Fachleute aus Pflegepraxis, Universitäten und Hochschulen, Unternehmen, Interessengruppen, Verbänden und aus der Politik stellen ihre Thesen, Konzepte und<br> Programme vor.</p>
              <a href="">Weitere Infos</a>
          </div>
          <div class="col2">
              <h3>Gesundheitswesen</h3>
              <p>Das deutsche Gesundheitswesen und insbesondere der Pflegebereich haben sich in den letzten Jahren und Jahrzehnten mit enormen Zuwachsraten entwickelt. Und dieser Trend setzt sich fort.</p>
              <a href="">Weitere Infos</a>
          </div>
          <div class="col3">
              <h3>Pflege</h3>
              <p>Durch die Einführung der Pflegeversicherung und aufgrund des relativ geringen Ausgangsniveaus sind die Einrichtungen der Pflege sind in den letzten zwei Jahrzehnten besonders stark gewachsen.</p>
              <a href="">Weitere Infos</a>
          </div>
        </div>
        <div class="eventssection">
            <h2 class="eventtitle">Das Deutsche Pflege Forum lädt ein</h2>
            <p class="eventdesc"><strong>Nächste Termine:</strong> Mittwoch, 20. Juni 2018, 18:00 Uhr<br>
                <strong>Referent: Dr. Ilona Köster-Steinebach</strong><br><i>Patientenvertreterin im Gemeinsamen Bundesausschuss</i><br>
                <strong>Thema:</strong> "Personaluntergrenzen - Chancen und Risiken aus Sicht des Patienten"<br>
                <strong>Veranstaltungsort:</strong> Berlin-Brandenburgische Akademie der Wissenschaften,
                Jägerstraße 22-23, 10117 Berlin</p>
            <a href="/registration" class="registrationbtn">Registrieren</a>
        </div>
        <div class="eventlocation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4856.150196988627!2d13.392049915717106!3d52.513979979813044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851da31393edb%3A0xd82d41254131a314!2sBerlin-Brandenburg+Academy+of+Sciences!5e0!3m2!1sen!2sde!4v1526304793169" width="1500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contacttitle">
            <h1><strong>Kontakt</strong><br></h1>
        </div>
            <div class="contactdetails">
              <div class="contact1">
                  <h3><strong><u>Programm:</u></strong></h3><br>
                  <h4><strong>Prof. Dr. Reinhold Roski</strong></h4>
                     <p>HTW – Hochschule für Technik und Wirtschaft Berlin<br>
                      Wilhelminenhofstraße 75 A, C 583<br>
                      12459 Berlin<br>
                      Telefon: 030/50 19 24 85<br>
                      Fax: 030/50 19 48 24 85</p>
                  <a class="email" href=""></a>
              </div>
              <div class="contact2">
                  <h3><strong><u>Organisation:</u></strong></h3><br>
                  <h4><strong>Christian Berges</strong><br></h4>
                     <p>PMG-GmbH Pflege Management Gesundheit<br>
                      Bülowstraße 71-72<br>
                      10783 Berlin<br>
                      Telefon: 030/23 00 66 99<br>
                      Fax: 030/23 00 66 91</p>
                  <a class="email" href=""></a>
              </div>
          </div>
            <footer class="footer">
                <ul>
                    <li><a href="/startseite">Startseite</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                    <li><a href="/impressum">Impressum</a></li>
                    <li><a href="/drucken">Drucken</a></li>
                </ul>
            </footer>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
