<!doctype html>
<link rel="icon" href="/favicon.jpg"/>
<link rel="stylesheet" href="/stylesheet.css">

<body>
    <div class="container" style="visibility: visible;">
        <nav class="topnav">
            <img class="logo" src="/logo.jpg"/>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/uberblick">Überblick</a></li>
                <li><a href="/termine">Termine</a></li>
                <li><a class="active" href="/partners">Partners</a></li>
                <li><a href="/service">Service</a></li>
            </ul>
        </nav>
    </div>
    <div class="hpimg"></div>
    <div class="hpimgtext">
        <h2 class="hptitle">Das Deutsche Pflege Forum lädt ein</h2>
        <p class="hpdesc"><strong>Nächste Termine:</strong> Mittwoch, 20. Juni 2018, 18:00 Uhr<br>
            <strong>Referent: Dr. Ilona Köster-Steinebach</strong><br><i>Patientenvertreterin im Gemeinsamen Bundesausschuss</i><br>
            <strong>Thema:</strong> "Personaluntergrenzen - Chancen und Risiken aus Sicht des Patienten"</p><br>
        <a href="/eventregistration" class="hpbtn">WEITERE INFOS</a>
    </div>


    <!-- <div class="hpimg">
        <div>
            <img src="/partners.jpg" width=100%>
        </div>
        <h1>Das Forum für die professionelle Pflege</h1>
        <p>Fachlicher Austausch, Kommunikation und persönliche Kontakte <br>für Pflege-, Fach- und Führungskräfte

</p>
    </div> -->

        </div>
        <footer class="footer">
            <ul>
                <li><a href="/startseite">Startseite</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/impressum">Impressum</a></li>
                <li><a href="/drucken">Drucken</a></li>
            </ul>
        </footer>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
