<!doctype html>
<link rel="stylesheet" href="/stylesheet.css">


<body>
    <div class="main">
    <div>
        <img class="image" src="/polarwb.gif" width="1000">
        <h1 class="maintext">WELCOME BACK!<br></h1>
        <h2 class="maintext" id="sectext">Please Login Below</h2>
    </div>
    <form class="maintext" id="sectext" method="POST">
        <label> Email Address: <br><input class="input" type="text" name="email"></input><br><br></label>
        <label> Password: <br><input class="input" type="text" name="password"></input><br></label><br>
        <!-- <label> Please Login Below: <br><input class="input" id="field" name="signature" type="hidden"><br></input> -->
        <button class="button" type="click" name="login">Sign In<br></button>
        <br><br>
    </form>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
