<!doctype html>
<link rel="stylesheet" href="/stylesheet.css">


<body class="main">
    <div>
        <img class="hpimage" src="/polar.jpg" width="1000">
        <h1 class="maintext">Welcome Back<br></h1>
        <h2 class="sectext">Please Log In</h2>
    </div>
    <form class="login" method="POST">
        <label> Email Address <br><input class="input" type="text" name="email"></input><br><br></label>
        <label> Password <br><input class="input" type="text" name="passwore"></input><br><br></label>
        <label><br> Please Login Below <br><input class="input" id="field" name="signature" type="hidden"></input>
        <button class="button" type="click" name="login">Sign In</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
