<!doctype html>
<link rel="stylesheet" href="/stylesheet.css">
<body>
    <div <div class="main">>
        <img class="image" src="/polarreg.jpg" width="1000">
        <h1 class="maintext">BLAH<br></h1>
        <h2 class="sectext">BLAH</h2>

    </div>
    <form class="create-account" method="POST">
        <label> Age <br><input class="input" type="number" name="age"></input><br><br></label>
        <label> City <br><input class="input" type="text" name="city"></input><br><br></label>
        <label> Homepage <br><input class="input" type="text" name="homepage"></input><br><br></label>
        <button class="button" type="click" name="continue">CONTINUE</button><br><br>
        <a class="login" href="thankyou"></a>
    </form>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
