<!doctype html>
<link rel="icon" href="/favicon.jpg"/>
<link rel="stylesheet" href="/stylesheet.css">

<body>
    <div class="container" style="visibility: visible;">
        <nav class="topnav">
            <img class="logo" src="/logo.jpg"/>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/uberblick">Überblick</a></li>
                <li><a href="/termine">Termine</a></li>
                <li><a class="active" href="/partners">Partners</a></li>
                <li><a href="/service">Service</a></li>
            </ul>
        </nav>
    </div>
    <div class="parent">
        <div class="partners-mainimg"></div>
        <div class="container">
        <!-- <img class="mainimage" src="/partners.jpg" width=""> -->
        </div>
        <h1 class="headertext">Ein engagiertes Netzwerk<br></h1>
        <p class="desctext">Das Deutsche Pflege Forum ist eine Initiative mehrerer engagierter Einrichtungen aus den Bereichen Pflege und Gesundheitsmanagement, <br>die wir Ihnen an dieser Stelle kurz vorstellen möchten.</p>
    </div>
    <div class="js-logo-animation logo-animation flex-container horizontal vertical js-scroll-element">
        <div class="js-letter letter">I</div>
        <div class="js-letter letter">D</div>
        <div class="js-letter js-logo-holder letter logo-holder">
            <span class="js-client-logo client-logo flex-container horizontal vertical clear hidden">O</span>
            <img src="/AVG_partner.jpg"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="/bapp_partner.jpg"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="/Bfo_partner.jpg"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="/FaW_partner.jpg"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="/PMG_partner.jpg"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="/Qvnia_partner.jpg"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="/GVP_partner.jpg"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="/Pflege_partner.jpg"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="/SPS_partner.jpg"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
        </div>
        <div class="js-letter letter">L</div>
    </div>
    <!-- <div class="partnergallery">
        <div class="gallery">
          <a target="_blank" href="img_fjords.jpg">
            <img src="/AVG_partner.jpg" alt="Trolltunga Norway" width="300" height="200">
          </a>
        </div>

        <div class="gallery">
          <a target="_blank" href="img_forest.jpg">
            <img src="/bapp_partner.jpg" alt="Forest" width="600" height="400">
          </a>
        </div>

        <div class="gallery">
          <a target="_blank" href="img_lights.jpg">
            <img src="/FaW_partner.jpg" alt="Northern Lights" width="600" height="400">
          </a>
        </div>

        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img src="/Bfo_partner.jpg" alt="Mountains" width="600" height="400">
          </a>
        </div>
        <div class="gallery">
          <a target="_blank" href="img_fjords.jpg">
            <img src="/PMG_partner.jpg" alt="Trolltunga Norway" width="300" height="200">
          </a>
        </div>

        <div class="gallery">
          <a target="_blank" href="img_forest.jpg">
            <img src="/Qvnia_partner.jpg" alt="Forest" width="600" height="400">
          </a>
        </div>

        <div class="gallery">
          <a target="_blank" href="img_lights.jpg">
            <img src="/GVP_partner.jpg" alt="Northern Lights" width="600" height="400">
          </a>
        </div>

        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img src="/Pflege_partner.jpg" alt="Mountains" width="600" height="400">
          </a>
        </div>
        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img src="/SPS_partner.jpg" alt="Mountains" width="600" height="400">
          </a>
        </div>
    </div> -->
    <!-- <div class="band">
        <div class="item-1">
              <a href="http://www.avg-ev.com/typo3_01/index.php" class="card">
                <div class="thumb" style="background-image: url(/box1.jpg);"></div>
                <article>
                  <h3>AnbieterVerband qualitätsorientierter<br>Gesundheitspflegeeinrichtungen (AVG) e.V.</h3>
                  <span>Der AnbieterVerband qualitätsorientierter Gesundheitspflegeeinrichtungen e.V. ist der Branchenspezialist, wenn es um die Vertretung der Interessen der ambulanten Pflege geht. Als einer der maßgeblichen Verbände im Land Berlin und Berufsstandsvertretung setzen wir uns aktiv für die Belange der ambulanten Pflegedienste einschließlich deren Mitarbeiter ein.</span>
                </article>
              </a>
        </div>
        <div class="item-2">
              <a href="http://www.bapp.info/" class="card">
                <div class="thumb" style="background-image: url(/box2.jpg);"></div>
                <article>
                  <h3>Bundesinitiative Ambulante<br>Psychiatrische Pflege (bapp)</h3>
                  <span>Die Stärkung der Ambulanten Psychiatrischen Pflege und das Recht des psychisch erkrankten Menschen auf eine kompetente, umfassende und eine patientenorientierte Pflege ist das Ziel unseres Vereins.</span>
                </article>
              </a>
        </div>
        <div class="item-3">
              <a href="http://www.gpverbund.de/" class="card">
                <div class="thumb" style="background-image: url(/box3.jpg);"></div>
                <article>
                  <h3>Gerontopsychiatrisch-geriatrischer<br>Verbund Charlottenburg-Wilmersdorf</h3>
                  <span>Der GPV e.V. ist ein Zusammenschluss unterschiedlichster Einrichtungen rund um die Beratung, Betreuung und Pflege alter Menschen im Berliner Bezirk Charlottenburg-Wilmersdorf. Kernziele des GPV e.V. sind die Optimierung und Verknüpfung von Altenhilfe, Rehabilitation, Geriatrie und Gerontopsychiatrie.</span>
                </article>
              </a>
        </div> -->
     </div>
            <footer class="footer">
                <ul>
                    <li><a href="/startseite">Startseite</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                    <li><a href="/impressum">Impressum</a></li>
                    <li><a href="/drucken">Drucken</a></li>
                </ul>
            </footer>
         </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
