<!doctype html>
<link rel="stylesheet" href="/stylesheet.css">


<body>
    <div class="main">
    <div>
        <img class="image" src="/polarsig.jpg" width="1000">
        <h1 class="maintext">OH HEY, THANKS FOR CARING!<br></h1>
        <h2 class="maintext" id="sectext">You're Almost There! Complete Your Registration By Giving Your Signature</h2>
    </div>
    <div class="errormsg">
        {{#err}}
        Uh oh!  Please check your signature and try again!
        {{/err}}
    </div>
    <form class="maintext" id="sectext" method="POST">
        <label><br> SIGN BELOW: <br><input class="input" id="field" name="signature" type="hidden"></input>
        <canvas id="sign" width="655" height="225"></canvas><br></label><br>
        <button class="button" type="submit" name="button">SUBMIT</button><br><br>
    </form>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/canvas.js"></script>
</body>
