
<!doctype html>
<link rel="stylesheet" href="/stylesheet.css">

<body>
<div class="main">
    <div class="image">
        <img src="/polarthx.gif" width="1000">
    </div>
    <h1 class="maintext">THANKS FOR YOUR SUPPORT!<br></h1>
    <h2 class="maintext" id="sectext">Together we'll fight to end Global Warming and save our Polar Bears!</h2>
    <img class="mysig" src="{{signature}}" alt="">
    <a class="support" href="/viewsigs">View List of Supporters</a><br><br>
</body>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
