
<!doctype html>
<link rel="stylesheet" href="/stylesheet.css">

<body>
    <div class="container" style="visibility: visible;">
        <nav class="topnav">
            <img class="logo" src="/logo.jpg"/>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/uberblick">Überblick</a></li>
                <li><a href="/termine">Termine</a></li>
                <li><a class="active" href="/partners">Partners</a></li>
                <li><a href="/service">Service</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <div class="image">
            <img src="/polarthx.gif" width="1000">
        </div>
        <h1 class="maintext">THANKS FOR YOUR SUPPORT!<br></h1>
        <h2 class="maintext" id="sectext">Together we'll fight to end Global Warming and save our Polar Bears!</h2>
        <img class="mysig" src="{{signature}}" alt="">
        <a class="support" href="/viewsigs">View List of Supporters</a><br><br>
    </body>
    <footer class="footer">
        <ul>
            <li><a href="/startseite">Startseite</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
            <li><a href="/impressum">Impressum</a></li>
            <li><a href="/drucken">Drucken</a></li>
        </ul>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
