
<!doctype html>
<link rel="stylesheet" href="/stylesheet.css">

<body class="main">
    <div class="hpimage">
        <img src="/polar.jpg" width="1000">
    </div>
    <h1>Thank for your Support!<br>
    Together we'll fight to end Global Warming and save our Polar Bears!</h1>
    <a class="sigslink" href="/viewsigs">View List of Supporters</a>
    <img src="{{signature}}" alt="">
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
