* {
    box-sizing: border-box;
    background: #b2bdcb;
}

/* main page class */
.main {
    /* margin-left: 15%;
    margin-right: 15%; */
    position: relative;
    border: 2px dashed grey;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    overflow: hidden;
}

/* HOMEPAGE */
/*main text */
.maintext {
    font-family: futura;
    font-size: 24px;
    text-align: center;
    width: 100%;
}

#sectext {
    font-size: 16px;
    font-family: futura;
}
/* signature field */
#signature {
    border: 1px dashed grey;
}

/* homepage image */
img {
    height: 550px;
}

.mysig {
    height: 50%;
    width: 100%;
}

/* name fields */
.input {
    font-family: futura;
    font-size: 16px;
    position: relative;
}

.support {
    text-align: center;
    font-size: 20px;
    margin-left: 45%;
}

#sign {
    border: 0.5px solid #f0f5f5;
}
/* submit button */
.button {
    border: 0.5px solid #f0f5f5;
    font-family: futura;
    font-size: 16px;
}

.errormsg {
    color: red;
}

/* THANK YOU PAGE */

/* VIEW SIGNATURES PAGE */
