* {
    margin: 0;
}

/* SITE NAVIGATION */
nav {
    background-color: #ffffff;
    height: 60px;
    object-fit: cover;
    top: 0;
}

.logo {
    top: 0;
    position: relative;
    background-color: #ffffff;
    height: 60px;
    margin-left: 40px;
}

.topnav ul {
    float: right;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-right: 100px;
}

.topnav ul li {
    float: left;
    text-align: right;
    display: inline;
    /* background-color: #ffffff; */
    border-right: 1px solid #bbb;
}

.topnav ul li:last-child {
    margin-right: 0;
    border-right: none;
}

.topnav ul li a {
    padding: 0.5em;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #ffffff;
    color: #a7a7a7;
}

.topnav li a:hover {
    color: #3076b4;
    text-decoration: underline;
}

.topnav .active {
    color: #3076b4;
    text-decoration: underline;
}

/* Anchor Linking */
.termine-section {
    margin-top: 10px;
}

.kontakt-section {
    top: 5px;
}

.partner-section {
    top: 5px;
}

.uberblick-section {
    top: 5px;
}

/* MAIN LANDING PAGE */
.hpimg {
    background: linear-gradient(#407eb540, #a7a7a700), url("/partners5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    /* opacity: 0.9; */
}

.hpimgtext {
    margin-left: 60px;
}

.hptitle {
    position: absolute;
    top: 30%;
    font-size: 28px;
    font-family: Times;
    color: #2c2c2c;
    text-shadow: 0.5px 0.5px #ffffff;
}

.hpdesc {
    position: absolute;
    top: 37%;
    font-size: 16px;
    line-height: 22px;
    font-family: Times;
    color: #2c2c2c;
    /* text-shadow: 0.5px 0.5px #ffffff; */
}

.hpbtn {
    position: absolute;
    top: 52%;
    font-size: 16px;
    color: white;
    background-color: #2c2c2c;
    border-width: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 25px;
    padding-top: 7px;
    letter-spacing: 0.15px;
    font-family: Times;
    border-radius: 5px;
}

/* ABOUT COMPANY TEXT UNDER HP IMAGE */
.aboutcompany {
    text-align: center;
    font-family: Times;
    color: #2c2c2c;
}
/* .aboutus {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 28px;
} */

.abouttitle {
    top: 30px;
    padding-top: 4%;
    margin-bottom: 5px;
    font-size: 28px;
}

.aboutdesc {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 16px;
}

/* 3 FLEXBOXES ON HOMEPAGE */
.flex-grid-thirds {
    display: flex;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10%;
    padding-bottom: 5%;
}

.flex-grid-thirds .col1 {
    width: 32%;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f6f6f7;
    border: 0.25px solid #e5e5e5;
}

.col1 h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 20px;
    font-family: Times;
}

.col1 p {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 16px;
    font-family: Times;
}

.col1 a {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 14px;
    font-family: Times;
}

.flex-grid-thirds .col2 {
    width: 32%;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f6f6f7;
    border: 0.25px solid #e5e5e5;
}

.col2 h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 20px;
    font-family: Times;
}

.col2 p {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 16px;
    font-family: Times;
}

.col2 a {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 14px;
    font-family: Times;
}

.flex-grid-thirds .col3 {
    width: 32%;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f6f6f7;
    border: 0.25px solid #e5e5e5;
}

.col3 h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 20px;
    font-family: Times;
}

.col3 p {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 16px;
    font-family: Times;
}

.col3 a {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 14px;
    font-family: Times;
}

/* PARTNERS PAGE */

.flex-container {
    display: flex;
}
.flex-container.vertical {
    align-items: center;
}

.clients {
    min-height: 100%;
    padding-left: 10%;
    padding-right: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 1.3;
}

/* .mainimage {
    left: 0;
    top: -40%;
    position: relative;
    width: 100%;
    border: 0.15px solid grey;
} */

/* IMAGE OF OLDER LADY */
.partners-mainimg {
    background: linear-gradient(#8d92941a, #9197a26e), url("/partners.jpg");
    position: absolute;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

/* h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-family: Ariel;
    text-shadow: 0.5px 0.5px #ffffff;
    font-size: 42px;
    color: #a7a7a7;
}

p {
    font-size: 26px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 100%);
    position: relative;
    text-align: center;
    color: #a7a7a7;
    text-shadow: 0.1px 0.1px #a7a7a7;
} */

.container {
    object-fit: cover;
    width: 100%;
    border: 0.25px solid #e5e5e5;
}

.eventssection {
    text-align: center;
    font-family: Times;
    color: #2c2c2c;
    line-height: 30px;
}

.eventtitle {
    top: 30px;
    bottom: 30px;
}

.eventdesc {
    top: 37%;
}

.registrationbtn {
    position: relative;
    font-size: 20px;
    color: white;
    background-color: #2c2c2c;
    border-width: 5px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    top: 30px;
    bottom: 30px;
    padding-top: 8px;
    padding-bottom: 10px;
    letter-spacing: 0.15px;
    font-family: Times;
}

.eventlocation {
    position: relative;
    left: 0;
    margin-bottom: 5%;
    margin-top: 30px;
    min-width: 100%;
    top: 30px;
}

/* REGISTRATION PAGE */

.registrationform {
    /* display: flex;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 10%;
    margin: 20px;
    justify-content: center;
    justify-content: space-around; */
}
.maintext {
    margin-left: 30px;
}

.maintext2 {
    margin-left: 30px;
}

.input {
    margin-left: 40px;
    display: block;
}

.errormsg {
    color: red;
    padding: 15px;
    margin-left: 30px;
    font-size: 18px;
}

.button {
    font-size: 18px;
    color: white;
    background-color: #2c2c2c;
    border-width: 5px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    top: 30px;
    bottom: 30px;
    padding-top: 8px;
    padding-bottom: 10px;
    letter-spacing: 0.15px;
    font-family: Times;
}

/* Thank You Page */

.thankyouform {
    display: flex;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10%;
    margin: 20px;
}

.thankyouheader {
    top: 30px;
    padding-top: 4%;
    margin-bottom: 5px;
    font-size: 28px;
}

.thankyoudesc {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 16px;
}

.thankyoubtn {
    font-size: 20px;
    color: white;
    background-color: #2c2c2c;
    border-width: 5px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    top: 30px;
    bottom: 30px;
    padding-top: 8px;
    padding-bottom: 10px;
    letter-spacing: 0.15px;
    font-family: Times;
}

.footerthankyou {
    margin-bottom: -100%;
}

/* FLEXBOX FOR 9 PARTNERS */

.flex-container.vertical {
    align-items: center;
}

.clients {
    overflow: hidden;
    width: 100%;
    max-width: 1280px;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.flex-container {
    display: flex;
}
/* .flexboxes {
    position: relative;
    max-width: 100%;
    padding: 12px;
    display: flex;
} */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    margin-bottom: 50px;
    height: 200px;
    width: 200px;
    position: relative;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* .band {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    margin-top: 140px;
    margin-bottom: 100px;
}

.thumb {
    opacity: 0.8;
}

/* .card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
} */

h3 {
    font-size: 15px;
}

/* PARTNERS ICONS */

.partnertitle {
    text-align: center;
    font-family: Times;
    color: #2c2c2c;
    top: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 28px;
}

.partnerdesc {
    text-align: center;
    font-family: Times;
    color: #2c2c2c;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 16px;
}

.partnerlogos-row1 {
    display: flex;
    padding-top: 3%;
    padding: 20px;
    padding-bottom: 5%;
    justify-content: center;
    justify-content: space-around;
}
.partnerlogos-row2 {
    margin-top: 3%;
    display: flex;
    /* padding: 30px; */
    padding-bottom: 10%;
    justify-content: center;
    justify-content: space-between;
}

.partlogo {
    top: 0;
    margin-top: 5%;
    position: relative;
    background-color: #ffffff;
    height: 125px;
    margin-left: 40px;
    border: 2px solid #e5e5e5;
    width: 70%;
    height: 100%;
}

/* LOCATION MAP */

/* CONTACT */

.contacttitle {
    text-align: center;
    padding-top: 30px;
}
.contactdetails {
    display: flex;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10%;
    margin: 20px;
    justify-content: center;
    justify-content: space-around;
}

.contact1 {
    background-color: #f6f6f7;
    border: 0.25px solid #e5e5e5;
    padding: 20px;
    width: 400px;
}

.contact1 h3 {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    font-size: 20px;
    font-family: Times;
}

.contact1 h4 {
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
    font-family: Times;
}
.contact1 p {
    margin-top: 8px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 16px;
    font-family: Times;
}
.contact1 a {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 14px;
    font-family: Times;
}

.contact2 {
    background-color: #f6f6f7;
    border: 0.25px solid #e5e5e5;
    padding: 20px;
    width: 400px;
}

.contact2 h3 {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    font-size: 20px;
    font-family: Times;
}

.contact2 h4 {
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
    font-family: Times;
}
.contact2 p {
    margin-top: 8px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 16px;
    font-family: Times;
}
.contact2 a {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 14px;
    font-family: Times;
}

/* FOOTER NAVIGATION */
footer {
    /* position: fixed; */
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    border: 0.25px solid #e5e5e5;
    float: left;
    bottom: 0;
}

.footer ul {
    float: right;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-right: 100px;
}

.footer ul li {
    float: left;
    text-align: right;
    display: inline;
    /* background-color: #ffffff; */
    border-right: 1px solid #bbb;
}

.footer ul li:last-child {
    margin-right: 0;
    border-right: none;
}

.footer ul li a {
    padding: 0.5em;
    color: white;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    background-color: #ffffff;
    color: #a7a7a7;
}

.footer li a:hover {
    color: #3076b4;
    text-decoration: underline;
}

.footer .active {
    color: #3076b4;
    text-decoration: underline;
}

.footercontainer {
    width: 100%;
    height: 200px;
    /* border: 0.25px solid #e5e5e5; */
    top: 0;
    margin-bottom: 0;
}
